# WE01 - AIRBNB

AIM: Data Loading and Preparation, Data Evaluation (Before and After Data Splitting)

STEPS:
1. Import and install python libraries
   
2. Set the random seed
    * Here the random seed is set to 1.
3. Load data
   
4. Conduct basic evaluation of the data 
    * Target variable
    * Data Types?
    * Features and Observations?
    * Missing Data?
    * Evidence of Corrupt Data?
    * Nominal or Ordinal Catagorical variables
5. Process the data
    * Pre-split Data Cleaning
    * Splitting data into training sets and test sets
    * Post-split Data Cleaning
6. Save the data (we'll start modeling it later)
    * Save the Cleaned Data to a csv file.

## STEP 1. Import and Install Python Libraries

In [79]:
# import numpy and pandas libraries
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

## STEP 2. Set Random Seed

Random Seed is set to 1.

In [80]:
np.random.seed(1) #So that results aren't repeatable

## STEP 3. Load data

In [81]:
airbnb = pd.read_csv("/Users/shambhavimishra/Downloads/airbnb.csv")

## STEP 4. Initial exploration of the data

We have a number of input variables and one target variable. For this analysis, the target variable is price.

First, our initial exploration of the data should answer the following questions:
1. How many rows and columns
2. How much of a problem do we have with na's?
3. What types of data are there?
4. What types of data are stored in columns
    1. identify which variables are numeric and may need to be standardized later
    2. identify which variables are categorical and may need to be transformed using and encoders such as one-hot-encoder.
5. Identify errors in the data - this is a common problem with categorical vars where the category is mispelled or spelled differently in some instances.

In [82]:
airbnb.head(3) # shows first 3 rows of data

,host_is_superhost,host_identity_verified,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bedrooms,...,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,cancellation_policy,price,price_gte_150,price_category
0,0,0,Roslindale,42.282619,-71.133068,House,Entire home/apt,4,1.5,2.0,...,1,0,2,0,0,NaN,moderate,250,1,gte_226
1,0,1,Roslindale,42.286241,-71.134374,Apartment,Private room,2,1.0,1.0,...,0,0,2,36,804,94.0,moderate,65,0,lte_$75
2,1,1,Roslindale,42.292438,-71.135765,Apartment,Private room,2,1.0,1.0,...,1,20,3,41,2574,98.0,moderate,65,0,lte_$75

In [83]:
# Basic summary of data
airbnb.info() # we can check for any missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 23 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   host_is_superhost                  3555 non-null   int64
 1   host_identity_verified             3555 non-null   int64
 2   neighbourhood_cleansed             3555 non-null   object
 3   latitude                           3555 non-null   float64
 4   longitude                          3555 non-null   float64
 5   property_type                      3552 non-null   object
 6   room_type                          3555 non-null   object
 7   accommodates                       3555 non-null   int64
 8   bathrooms                          3541 non-null   float64
 9   bedrooms                           3545 non-null   float64
 10  beds                               3546 non-null   float64
 11  bed_type                           3555 non-null   object
 12  Number of amenities                3555 non-null   int64
 13  guests_included                    3555 non-null   int64
 14  price_per_extra_person             3555 non-null   int64
 15  minimum_nights                     3555 non-null   int64
 16  number_of_reviews                  3555 non-null   int64
 17  number_days_btw_first_last_review  3555 non-null   int64
 18  review_scores_rating               2755 non-null   float64
 19  cancellation_policy                3555 non-null   object
 20  price                              3555 non-null   int64
 21  price_gte_150                      3555 non-null   int64
 22  price_category                     3555 non-null   object
dtypes: float64(6), int64(11), object(6)
memory usage: 638.9+ KB

In [84]:
# Statistical summary of the numeric value in the data
airbnb.describe()

,host_is_superhost,host_identity_verified,latitude,longitude,accommodates,bathrooms,bedrooms,beds,Number of amenities,guests_included,price_per_extra_person,minimum_nights,number_of_reviews,number_days_btw_first_last_review,review_scores_rating,price,price_gte_150
count,3555.000000,3555.000000,3555.000000,3555.000000,3555.000000,3541.000000,3545.000000,3546.000000,3555.00000,3555.000000,3555.000000,3555.000000,3555.000000,3555.000000,2755.000000,3555.000000,3555.000000
mean,0.113080,0.727989,42.339973,-71.084874,3.023629,1.215899,1.246544,1.597293,14.85879,1.427004,10.886639,3.116737,19.126582,279.052602,91.891470,166.060478,0.500422
std,0.316735,0.445058,0.024464,0.031614,1.754808,0.492656,0.738440,0.995467,4.82126,1.050204,19.092755,8.273949,35.666178,408.686952,9.548381,103.378456,0.500070
min,0.000000,0.000000,42.235942,-71.171789,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000,0.000000,20.000000,10.000000,0.000000
25%,0.000000,0.000000,42.329875,-71.105183,2.000000,1.000000,1.000000,1.000000,12.00000,1.000000,0.000000,1.000000,1.000000,0.000000,89.000000,85.000000,0.000000
50%,0.000000,1.000000,42.345191,-71.078487,2.000000,1.000000,1.000000,1.000000,15.00000,1.000000,0.000000,2.000000,5.000000,92.000000,94.000000,150.000000,1.000000
75%,0.000000,1.000000,42.354672,-71.062142,4.000000,1.000000,2.000000,2.000000,18.00000,1.000000,20.000000,3.000000,21.000000,402.000000,98.000000,219.000000,1.000000
max,1.000000,1.000000,42.389982,-71.000100,16.000000,6.000000,5.000000,16.000000,30.00000,14.000000,200.000000,300.000000,404.000000,2680.000000,100.000000,650.000000,1.000000

In [85]:
#Thorough summary of the data using jupyter-summarytools
import summarytools
from summarytools import dfSummary
dfSummary(airbnb)

In [86]:
airbnb.isna().sum()  #gives the number view of the missing values(i.e., total NAs) for each variable

host_is_superhost                      0
host_identity_verified                 0
neighbourhood_cleansed                 0
latitude                               0
longitude                              0
property_type                          3
room_type                              0
accommodates                           0
bathrooms                             14
bedrooms                              10
beds                                   9
bed_type                               0
Number of amenities                    0
guests_included                        0
price_per_extra_person                 0
minimum_nights                         0
number_of_reviews                      0
number_days_btw_first_last_review      0
review_scores_rating                 800
cancellation_policy                    0
price                                  0
price_gte_150                          0
price_category                         0
dtype: int64

In [87]:
# List of catagorical variables
category_var_list = list(airbnb.select_dtypes(include='object').columns)
category_var_list

['neighbourhood_cleansed',
 'property_type',
 'room_type',
 'bed_type',
 'cancellation_policy',
 'price_category']

In [88]:
# explore the categorical variable values to check fir typo errors
for cat in category_var_list: 
    print(f"Category: {cat} Values: {airbnb[cat].unique()}")

Category: neighbourhood_cleansed Values: ['Roslindale' 'Jamaica Plain' 'Mission Hill' 'Longwood Medical Area'
 'Bay Village' 'Leather District' 'Chinatown' 'North End' 'Roxbury'
 'South End' 'Back Bay' 'East Boston' 'Charlestown' 'West End'
 'Beacon Hill' 'Downtown' 'Fenway' 'Brighton' 'West Roxbury' 'Hyde Park'
 'Mattapan' 'Dorchester' 'South Boston Waterfront' 'South Boston'
 'Allston']
Category: property_type Values: ['House' 'Apartment' 'Condominium' 'Villa' 'Bed & Breakfast' 'Townhouse'
 'Entire Floor' 'Loft' 'Guesthouse' 'Boat' 'Dorm' 'Other' nan 'Camper/RV']
Category: room_type Values: ['Entire home/apt' 'Private room' 'Shared room']
Category: bed_type Values: ['Real Bed' 'Pull-out Sofa' 'Futon' 'Airbed' 'Couch']
Category: cancellation_policy Values: ['moderate' 'flexible' 'strict' 'super_strict_30']
Category: price_category Values: ['gte_226' 'lte_$75' 'btw_$75-$150' 'btw_$151-$225']

### Findings from the initial evaluation of data

* 6 categorical variables
* 3 variables with missing values
* No problem with the catogorical class names.

## STEP 5. Process the data

* Data prepartion that should be done *BEFORE* the data split.
* Split the data.
* Data preparation that should be done *AFTER* the data split.

### 5.1 Data prepartion *BEFORE* the data split

Includes:
1. Dropping of any columns/features 
2. Decision for exclusion of any observations due to missing NAs.
3. Proper encoding of categorical variables

#### Dropping any columns/variables that we will not be using

In [89]:
# Dropping price_gte_150, and price_category as there were 3 related price variables
airbnb.drop(['price_category', 'price_gte_150'], axis=1, inplace = True)

#### Encode our categorical variables

As per the requirements, two ecoding approaches used are:
* One-Hot-Encoding 
    
    variables encoded : neighbourhood_cleansed, property_type, and cancelation_policy
* Label Encoding
    
    variables encoded : room_type, and bed_type

Before encoding, replacing any missing values with 'unkown'.

In [90]:
airbnb['property_type'].isna().sum()

3

In [91]:
airbnb["property_type"].fillna("unkown", inplace = True)

In [92]:
airbnb['neighbourhood_cleansed'].isna().sum()

0

In [93]:
airbnb['room_type'].isna().sum()

0

In [94]:
airbnb['bed_type'].isna().sum()

0

In [95]:
airbnb['cancellation_policy'].isna().sum()

0

All the 5 categories have no missing values.

Encoding the following:
neighborhood_cleansed, property_type, and cancelation_policy as One-Hot-Encoding
room_type and bed_type as Label Encoding (numeric)

In [98]:
onehotencoder = OneHotEncoder()
neighbourhood_cleansed_df = pd.DataFrame(onehotencoder.fit_transform(airbnb[['neighbourhood_cleansed']]).toarray())
property_type_df = pd.DataFrame(onehotencoder.fit_transform(airbnb[['property_type']]).toarray())
property_type_df.columns =['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N']
cancellation_policy_df = pd.DataFrame(onehotencoder.fit_transform(airbnb[['cancellation_policy']]).toarray())
cancellation_policy_df.columns = ['Z', 'Y', 'X', 'W']

In [99]:
airbnb = airbnb.join(neighbourhood_cleansed_df)
airbnb = airbnb.join(property_type_df)
airbnb = airbnb.join(cancellation_policy_df)

In [100]:
airbnb.drop('neighbourhood_cleansed', axis=1, inplace = True)
airbnb.drop('property_type', axis=1, inplace = True)
airbnb.drop('cancellation_policy', axis=1, inplace = True)

In [101]:
labelencoder = LabelEncoder()
airbnb['room_type'] = labelencoder.fit_transform(airbnb['room_type'])
airbnb['bed_type'] = labelencoder.fit_transform(airbnb['bed_type'])

In [109]:
airbnb.head()  # Displays the 1st five rows by default

,host_is_superhost,host_identity_verified,latitude,longitude,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,...,I,J,K,L,M,N,Z,Y,X,W
0,0,0,42.282619,-71.133068,0,4,1.5,2.0,3.0,4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0,1,42.286241,-71.134374,1,2,1.0,1.0,1.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,1,42.292438,-71.135765,1,2,1.0,1.0,1.0,4,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,0,42.281106,-71.121021,1,4,1.0,1.0,2.0,4,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,1,1,42.284512,-71.136258,1,2,1.5,1.0,2.0,4,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [110]:
# explore the dataframe columns to verify encoding and dropped columns
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3555 entries, 0 to 3554
Data columns (total 61 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   host_is_superhost                  3555 non-null   int64
 1   host_identity_verified             3555 non-null   int64
 2   latitude                           3555 non-null   float64
 3   longitude                          3555 non-null   float64
 4   room_type                          3555 non-null   int64
 5   accommodates                       3555 non-null   int64
 6   bathrooms                          3541 non-null   float64
 7   bedrooms                           3545 non-null   float64
 8   beds                               3546 non-null   float64
 9   bed_type                           3555 non-null   int64
 10  Number of amenities                3555 non-null   int64
 11  guests_included                    3555 non-null   int64
 12  price_per_extra_person             3555 non-null   int64
 13  minimum_nights                     3555 non-null   int64
 14  number_of_reviews                  3555 non-null   int64
 15  number_days_btw_first_last_review  3555 non-null   int64
 16  review_scores_rating               2755 non-null   float64
 17  price                              3555 non-null   int64
 18  0                                  3555 non-null   float64
 19  1                                  3555 non-null   float64
 20  2                                  3555 non-null   float64
 21  3                                  3555 non-null   float64
 22  4                                  3555 non-null   float64
 23  5                                  3555 non-null   float64
 24  6                                  3555 non-null   float64
 25  7                                  3555 non-null   float64
 26  8                                  3555 non-null   float64
 27  9                                  3555 non-null   float64
 28  10                                 3555 non-null   float64
 29  11                                 3555 non-null   float64
 30  12                                 3555 non-null   float64
 31  13                                 3555 non-null   float64
 32  14                                 3555 non-null   float64
 33  15                                 3555 non-null   float64
 34  16                                 3555 non-null   float64
 35  17                                 3555 non-null   float64
 36  18                                 3555 non-null   float64
 37  19                                 3555 non-null   float64
 38  20                                 3555 non-null   float64
 39  21                                 3555 non-null   float64
 40  22                                 3555 non-null   float64
 41  23                                 3555 non-null   float64
 42  24                                 3555 non-null   float64
 43  A                                  3555 non-null   float64
 44  B                                  3555 non-null   float64
 45  C                                  3555 non-null   float64
 46  D                                  3555 non-null   float64
 47  E                                  3555 non-null   float64
 48  F                                  3555 non-null   float64
 49  G                                  3555 non-null   float64
 50  H                                  3555 non-null   float64
 51  I                                  3555 non-null   float64
 52  J                                  3555 non-null   float64
 53  K                                  3555 non-null   float64
 54  L                                  3555 non-null   float64
 55  M                                  3555 non-null   float64
 56  N                                  3555 non-null   float64
 57  Z                                  3555 non-null   float64
 58  Y                                  3555 non-null   float64
 59  X                                  3555 non-null   float64
 60  W                                  3555 non-null   float64
dtypes: float64(49), int64(12)
memory usage: 1.7 MB

### 5.2 Split data (train/test)

In [103]:
# splitting the data into validation and training set
train_df, test_df = train_test_split(airbnb, test_size=0.3)

#Price is the target variable
target = 'price'
predictors = list(airbnb.columns)
predictors.remove(target)

### 5.3  Data prepartion done *AFTER* the data split

* Imputting any missing  values using mean of the variable
* Standardizing the numerical variables by reremoving differences of scale

#### Impute missing values

In [104]:
numeric_cols_with_nas = list(train_df.isna().sum()[train_df.isna().sum() > 0].index)
numeric_cols_with_nas

['bathrooms', 'bedrooms', 'beds', 'review_scores_rating']

From above, we can observe that there are 4 variables that contains missing numeric values.

In [105]:
imputer = SimpleImputer(strategy="median")
# we are replacing with median not mean.
train_df[numeric_cols_with_nas] = imputer.fit_transform(train_df[numeric_cols_with_nas])
test_df[numeric_cols_with_nas] = imputer.transform(test_df[numeric_cols_with_nas])

#### Standardize numeric values

Creating a common scale between the numberic columns by standardizing each numeric column

In [106]:
# Creating a standard scaler and fitting it to the training set of predictors
scaler = preprocessing.StandardScaler()
cols_to_stdize = ['latitude', 'longitude', 'accommodates', 
                   'bathrooms', 'bedrooms', 'beds', 'Number of amenities', 
                   'guests_included', 'price_per_extra_person', 'minimum_nights', 
                   'number_of_reviews', 'number_days_btw_first_last_review', 
                   'review_scores_rating']                
               
# Transforming the predictors of training and validation sets
train_df[cols_to_stdize] = scaler.fit_transform(train_df[cols_to_stdize]) 

test_df[cols_to_stdize] = scaler.transform(test_df[cols_to_stdize])

## STEP 6. Saving the data

In [108]:
X_train = train_df[predictors]
Y_train = train_df[target] 
X_test = train_df[predictors]
Y_test = test_df[target] 

train_df.to_csv('airbnb_train_df.csv', index=False)
X_train.to_csv('airbnb_train_X.csv', index=False)
Y_train.to_csv('airbnb_train_y.csv', index=False)
test_df.to_csv('airbnb_test_df.csv', index=False)
X_test.to_csv('airbnb_test_X.csv', index=False)
Y_test.to_csv('airbnb_test_y.csv', index=False)